soma/soma
soma2/soma2
soma3/soma3
hello_world/hello_world
matrix_multiply/matrix_multiply
matrix_multiply_2/matrix_multiply_2
matrix_multiply_3/matrix_multiply_3
pi_mc/pi_mc
pi_integral/pi_integral
pi_integral2/pi_integral2
