*.out
*.mod
Cuda/hello_world
OpenMP/soma/soma
OpenMP/soma2/soma2
OpenMP/soma3/soma3
CAF/soma_coarray/soma_coarray
CAF/inverse_matrix_coarray/inverse
OpenMP/hello_world/hello_world
MPI/hello_world_mpi/hello_world_mpi
CAF/hello_world_coarray/hello_world_coarray
OpenMP/matrix_multiply/matrix_multiply
OpenMP/matrix_multiply_2/matrix_multiply_2
OpenMP/matrix_multiply_3/matrix_multiply_3
OpenMP/pi_mc/pi_mc
CAF/pi_mc_coarray/pi_mc_coarray
CAF/pi_approx_coarray/pi_approx_coarray
OpenMP/pi_integral/pi_integral
OpenMP/pi_integral2/pi_integral2
CAF/pi_integral_coarray/pi_integral_coarray
OpenAcc/soma_acc/soma_acc.o
OpenAcc/soma_acc/soma_acc.out
PETSc/ex5f_tutorial/ex5f
