*.out
*.mod
soma/soma
soma2/soma2
soma3/soma3
soma_coarray/soma_coarray
hello_world/hello_world
hello_world_coarray/hello_world_coarray
matrix_multiply/matrix_multiply
matrix_multiply_2/matrix_multiply_2
matrix_multiply_3/matrix_multiply_3
pi_mc/pi_mc
pi_mc_coarray/pi_mc_coarray
pi_approx_coarray/pi_approx_coarray
pi_integral/pi_integral
pi_integral2/pi_integral2
pi_integral_coarray/pi_integral_coarray
